html {
    box-sizing: border-box;
}

* *::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    color: #434455;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
    height: auto;
}

.container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    font-style: normal;
    text-decoration: none;
    padding: 0;
}

/* -------------header----------------- */

.header {
    background-color: #fff;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid #6b6b6b;
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

.head_box {
    display: flex;
    justify-content: space-around;
}

.nav_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #4d5ae5;
}

.list_nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.list_item {
    margin-left: 20px;
    text-decoration: none;
}

.nav_item {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;

    text-decoration: none;
    cursor: pointer;
    transition: 0.2s linear;

    background: linear-gradient(45deg, #4d5ae5, rgb(111, 29, 178), rgb(17, 52, 52));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_item:hover,
.nav_item:focus {
    color: #4d5ae5;
    border-bottom: 4px solid #4d5ae5; 
    filter: drop-shadow(0px 0px 12px #4d5a4d);

} 

.address_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address_list {
    display: flex;
}

.tel_head {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 2px solid #4d5ae5;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 15px;
}

.tel_head:hover {
    background-color: #404BBF;
    box-shadow: 0 0 0 4px #fff,
        0 0 0 8px #404BBF;

}

.phone {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

.phone:hover {
    color: #f6ff00;
    
}

/* ----------------main */


/* .items {
    padding-top: 110px;
    background-color: #efefef;
    margin-bottom: 60px;
    height: auto;
    width: 100%;
    min-height: 550px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(235, 240, 240, 0.5)),
        url(../images/photo_3.jpg) 50% 70% no-repeat;
} */

.cont_wrap {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titile_name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #414141;

    filter: drop-shadow(0px 0px 12px grey);

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.titile_name._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.span_color {
    background: linear-gradient(45deg, #4d5ae5, rgb(111, 29, 178), rgb(17, 52, 52));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 700;

    filter: drop-shadow(0px 0px 12px grey);

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.span_color._active {
    transform: translate(0px, 0px);
    opacity: 1;
}



/*------------------------ about */

.about {
    padding: 30px 0px 30px 0px;
}

.cont_about {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}


.text__about p {
    color: #040409;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.05em;
    text-align: justify;
    margin-bottom: 12px;
}

._anim__show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim__show._active,
._active ._anin__show {
    opacity: 1;
    transform: translate(0px, 0px);
}

/* --------------------slider */

.slider {
    position: relative;
    padding: 0px 80px;
}

.image-slider__wrapper img {
    width: 250px;
    height: 350px;
}

.slick-list {
    overflow: hidden;  
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow {
    position: absolute;
    top: 25%;
    margin: 30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 80px;
    border: 0;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('..//images/chevron-thin-left.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../images/chevron-thin-right.svg') 0 0 / 100% no-repeat;
}


.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: #f6ff00;
    border: 1px solid #fff;
}

.image-slider__wrapper img {
    width: 200px;
    max-height: 265px;

    transition: 0.5s linear;
}

.image-slider__wrapper:hover img {
    transform: scale(1.1);

} */

/* -------------------container_services */

.container_services {
    padding: 60px 0px 60px 0px;
    background-color: #f4f4fd;
}

.title_main {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 30px;

    background: linear-gradient(45deg, #4d5ae5, rgb(111, 29, 178), rgb(17, 52, 52));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0px 0px 12px grey);
    position: relative;
    z-index: 1;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.title_main._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.title_main_svg {
    position: absolute;
    fill: #4d5ae5;
    z-index: 2;
    
}

.title_main::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    left: 45%;
    bottom: 0;
    background: linear-gradient(45deg, #4d5ae5, rgb(111, 29, 178), rgb(17, 52, 52));



}

.cont_servise {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.list_service {
    width: 320px;
    
}

.cont_servise_img {
    width: 320px;
    height: 220px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 2px solid #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_service {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.title_service._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.box_service_text {
    width: 320px;
    height: 150px;
    padding: 30px 0px 50px 0px;
    border: 1px solid #E7E9FC;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box_service_text p {
    font-family: "Montserrat";
    text-align: center;
    font-size: 16px;
    color: #404BBF;
    letter-spacing: 0.02em;
    line-height: 1.2;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.box_service_text p._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

/*--------------------- cont_advantages */

.container_advantages {
    padding: 30px 0px 60px 0px;
    
}

.cont_advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px 25px;
    flex-wrap: wrap;
}

.advantages__list {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__adv {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.title__adv._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.advantages__list img {
    max-width: 400px;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px grey;
}

.advantages__list p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #404BBF;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.advantages__list p._active {
    transform: translate(0px, 0px);
    opacity: 1;
}


/*----------------- find */
.find {
    padding: 60px 0px 60px 0px;
    background-color: #f4f4fd;

}

.box_find {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.cont_find {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box__contfind {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.box__contfind :nth-child {
    margin-bottom: 0px;

}

.btn_find {
    width: 240px;
    border-radius: 4px;
    border: 1px solid transparent;
    min-height: 40px;
    transition: background-color 250ms linear;
    background-color: #4d5ae5;
    transition: 0.5s;
    cursor: pointer;
}

.btn__map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn__map a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-decoration: none;
    padding: 8px 54px;
}

.btn_find:hover {
    background-color: #404BBF;
    box-shadow: 0 0 0 4px #fff,
        0 0 0 8px #404BBF;
}

.btn__map:hover a {
    color: #f6ff00;
}

.btn__map svg {
    fill: #fff;
}

.btn__map:hover svg {
    fill: #f6ff00;
}

.find__svg svg {
    fill: #4d5ae5;
}

.find__nav {
    display: flex;
    flex-direction: column;

}

.find__nav p {
    font-family: "Montserrat";
    color: #040409;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.5s;

}

.find__nav p._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.phone_find {
    color: #000453;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 10px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s; 
}

.phone_find._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.phone_find:hover {
    box-shadow: 0 0 0 4px #fff,
        0 0 0 8px #404BBF;
    color: #cfb702;
}

.text__find1 {
    font-family: "Montserrat";
    color: #404BBF;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.text__find1._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.find_span {
    color: #4d5ae5;
}

/*---------------------- footer */

.footer {
    padding: 30px 0px 60px 0px;
    background-color: #000453;
}

.cont__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    flex-direction: column;
}

.footer__logo p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.footer__logo p._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.anim-logo {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.anim-logo._active {
    transform: translate(0px, 0px);
    opacity: 1;
}


.footer_wrap {
    display: flex;
    flex-direction: column;
}

.wrap__box {
    display: flex;

}

.title_footer {
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.title_footer._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.wrap__box svg {
    fill: #f6ff00;
}

.wrap__box p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
    margin-left: 15px;
}

.list_footer_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list_footer {
    text-align: center;
    width: 50px;
    height: 50px;
}

.list_mob_soc {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.6s;
}

.list_mob_soc._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.soc_item {
    width: 100%;
    height: 100%;
}

.soc_item_inst {
    fill: #992a76;
}

.soc_item_whats {
    fill: #15e90d;
}

.soc_item_teleg {
    fill: #55daf1;
}